.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
.logo {
  font-size: 20px;
  font-weight: bold;
  color: #3f3d56;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

a{
  position: relative;

}

a:before{
  content: "";
  height: 4px;
  background-color: #211F54;
  position: absolute;
  border-radius: 50px;
  bottom: 0;
  width: 100%;
  transform: scale(0);
  left: 0;
  transition: all 0.3s linear;
}

a:hover::before{
  transform: scale(1);
}

.nav a {
  text-decoration: none;
  color: #211F54;
  font-weight: 500;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cart {
  font-weight: 500;
  color: #211F54;
}
.quote-btn {
  padding: 10px 20px;
  background-color: #005bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}